.ElementsPart {
    // margin: auto;
    display: grid;
    grid-template-areas:
    "H  .   .   Ex  Ex  .   .   .   .   .   .   .   .   .   .   .   .   He"
    "Li Be  .   Ex  Ex  .   .   .   .   .   .   .   B   C   N   O   F   Ne"
    "Na Mg  .   .   .   .   .   .   .   .   .   .   Al  Si  P   S   Cl  Ar"
    "K  Ca  Sc  Ti  V   Cr  Mn  Fe  Co  Ni  Cu  Zn  Ga  Ge  As  Se  Br  Kr"
    "Rb Sr  Y   Zr  Nb  Mo  Tc  Ru  Rh  Pd  Ag  Cd  In  Sn  Sb  Te  I   Xe"
    "Cs Ba  P1  Hf  Ta  W   Re  Os  Ir  Pt  Au  Hg  Tl  Pb  Bi  Po  At  Rn"
    "Fr Ra  P2  Rf  Db  Sg  Bh  Hs  Mt  Ds  Rg  Cn  Nh  Fl  Mc  Lv  Ts  Og"
    "Ma .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   .   . "
    ".  .   .   La  Ce  Pr  Nd  Pm  Sm  Eu  Gd  Tb  Dy  Ho  Er  Tm  Yb  Lu"
    ".  .   .   Ac  Th  Pa  U   Np  Pu  Am  Cm  Bk  Cf  Es  Fm  Md  No  Lr";
    // position: relative;
    // top: -200px;

}

.Ma {
    height: 10px;
}

.TablePart {
    // position: relative;
    // float: right;
    // margin: auto;
    // margin-left: 100px;
    // margin-bottom: -100px;
    // width: 1314px;
    // height:870px;

    // width: 1314px;
    // height: 832px;
}
